company-repo/crediverse/ecds-ts/c4u-build/prod/tools/performance/C4uBurnTester/src/META-INF/HxC.wsdl_1.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:tns="http://hxc.concurrent.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hxc.concurrent.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://hxc.concurrent.com/" schemaLocation="http://192.168.0.140:14100/HxC?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="suspend">
<part name="request" type="tns:suspendRequest"></part>
</message>
<message name="suspendResponse">
<part name="return" type="tns:suspendResponse"></part>
</message>
<message name="getMembers">
<part name="request" type="tns:getMembersRequest"></part>
</message>
<message name="getMembersResponse">
<part name="return" type="tns:getMembersResponse"></part>
</message>
<message name="transfer">
<part name="request" type="tns:transferRequest"></part>
</message>
<message name="transferResponse">
<part name="return" type="tns:transferResponse"></part>
</message>
<message name="getServices">
<part name="request" type="tns:getServicesRequest"></part>
</message>
<message name="getServicesResponse">
<part name="return" type="tns:getServicesResponse"></part>
</message>
<message name="getService">
<part name="request" type="tns:getServiceRequest"></part>
</message>
<message name="getServiceResponse">
<part name="return" type="tns:getServiceResponse"></part>
</message>
<message name="process">
<part name="request" type="tns:processRequest"></part>
</message>
<message name="processResponse">
<part name="return" type="tns:processResponse"></part>
</message>
<message name="removeMembers">
<part name="request" type="tns:removeMembersRequest"></part>
</message>
<message name="removeMembersResponse">
<part name="return" type="tns:removeMembersResponse"></part>
</message>
<message name="getBalances">
<part name="request" type="tns:getBalancesRequest"></part>
</message>
<message name="getBalancesResponse">
<part name="return" type="tns:getBalancesResponse"></part>
</message>
<message name="getStatus">
<part name="request" type="tns:getStatusRequest"></part>
</message>
<message name="getStatusResponse">
<part name="return" type="tns:getStatusResponse"></part>
</message>
<message name="getQuotas">
<part name="request" type="tns:getQuotasRequest"></part>
</message>
<message name="getQuotasResponse">
<part name="return" type="tns:getQuotasResponse"></part>
</message>
<message name="addQuota">
<part name="request" type="tns:addQuotaRequest"></part>
</message>
<message name="addQuotaResponse">
<part name="return" type="tns:addQuotaResponse"></part>
</message>
<message name="changeQuota">
<part name="request" type="tns:changeQuotaRequest"></part>
</message>
<message name="changeQuotaResponse">
<part name="return" type="tns:changeQuotaResponse"></part>
</message>
<message name="removeQuota">
<part name="request" type="tns:removeQuotaRequest"></part>
</message>
<message name="removeQuotaResponse">
<part name="return" type="tns:removeQuotaResponse"></part>
</message>
<message name="processLifecycleEvent">
<part name="request" type="tns:processLifecycleEventRequest"></part>
</message>
<message name="processLifecycleEventResponse">
<part name="return" type="tns:processLifecycleEventResponse"></part>
</message>
<message name="sendSMS">
<part name="request" type="tns:sendSMSRequest"></part>
</message>
<message name="sendSMSResponse">
<part name="return" type="tns:sendSMSResponse"></part>
</message>
<message name="getHistory">
<part name="request" type="tns:getHistoryRequest"></part>
</message>
<message name="getHistoryResponse">
<part name="return" type="tns:getHistoryResponse"></part>
</message>
<message name="ping">
<part name="request" type="tns:pingRequest"></part>
</message>
<message name="pingResponse">
<part name="return" type="tns:pingResponse"></part>
</message>
<message name="subscribe">
<part name="request" type="tns:subscribeRequest"></part>
</message>
<message name="subscribeResponse">
<part name="return" type="tns:subscribeResponse"></part>
</message>
<message name="unsubscribe">
<part name="request" type="tns:unsubscribeRequest"></part>
</message>
<message name="unsubscribeResponse">
<part name="return" type="tns:unsubscribeResponse"></part>
</message>
<message name="extend">
<part name="request" type="tns:extendRequest"></part>
</message>
<message name="extendResponse">
<part name="return" type="tns:extendResponse"></part>
</message>
<message name="unsuspend">
<part name="request" type="tns:unsuspendRequest"></part>
</message>
<message name="unsuspendResponse">
<part name="return" type="tns:unsuspendResponse"></part>
</message>
<message name="migrate">
<part name="request" type="tns:migrateRequest"></part>
</message>
<message name="migrateResponse">
<part name="return" type="tns:migrateResponse"></part>
</message>
<message name="getOwners">
<part name="request" type="tns:getOwnersRequest"></part>
</message>
<message name="getOwnersResponse">
<part name="return" type="tns:getOwnersResponse"></part>
</message>
<message name="addMember">
<part name="request" type="tns:addMemberRequest"></part>
</message>
<message name="addMemberResponse">
<part name="return" type="tns:addMemberResponse"></part>
</message>
<message name="replaceMember">
<part name="request" type="tns:replaceMemberRequest"></part>
</message>
<message name="replaceMemberResponse">
<part name="return" type="tns:replaceMemberResponse"></part>
</message>
<message name="removeMember">
<part name="request" type="tns:removeMemberRequest"></part>
</message>
<message name="removeMemberResponse">
<part name="return" type="tns:removeMemberResponse"></part>
</message>
<portType name="IHxC">
<operation name="suspend">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://hxc.concurrent.com/IHxC/suspendRequest" message="tns:suspend"></input>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://hxc.concurrent.com/IHxC/suspendResponse" message="tns:suspendResponse"></output>
</operation>
<operation name="getMembers">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://hxc.concurrent.com/IHxC/getMembersRequest" message="tns:getMembers"></input>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://hxc.concurrent.com/IHxC/getMembersResponse" message="tns:getMembersResponse"></output>
</operation>
<operation name="transfer">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://hxc.concurrent.com/IHxC/transferRequest" message="tns:transfer"></input>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://hxc.concurrent.com/IHxC/transferResponse" message="tns:transferResponse"></output>
</operation>
<operation name="getServices">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://hxc.concurrent.com/IHxC/getServicesRequest" message="tns:getServices"></input>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://hxc.concurrent.com/IHxC/getServicesResponse" message="tns:getServicesResponse"></output>
</operation>
<operation name="getService">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://hxc.concurrent.com/IHxC/getServiceRequest" message="tns:getService"></input>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://hxc.concurrent.com/IHxC/getServiceResponse" message="tns:getServiceResponse"></output>
</operation>
<operation name="process">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://hxc.concurrent.com/IHxC/processRequest" message="tns:process"></input>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://hxc.concurrent.com/IHxC/processResponse" message="tns:processResponse"></output>
</operation>
<operation name="removeMembers">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://hxc.concurrent.com/IHxC/removeMembersRequest" message="tns:removeMembers"></input>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://hxc.concurrent.com/IHxC/removeMembersResponse" message="tns:removeMembersResponse"></output>
</operation>
<operation name="getBalances">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://hxc.concurrent.com/IHxC/getBalancesRequest" message="tns:getBalances"></input>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://hxc.concurrent.com/IHxC/getBalancesResponse" message="tns:getBalancesResponse"></output>
</operation>
<operation name="getStatus">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://hxc.concurrent.com/IHxC/getStatusRequest" message="tns:getStatus"></input>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://hxc.concurrent.com/IHxC/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
<operation name="getQuotas">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://hxc.concurrent.com/IHxC/getQuotasRequest" message="tns:getQuotas"></input>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://hxc.concurrent.com/IHxC/getQuotasResponse" message="tns:getQuotasResponse"></output>
</operation>
<operation name="addQuota">
<input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://hxc.concurrent.com/IHxC/addQuotaRequest" message="tns:addQuota"></input>
<output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://hxc.concurrent.com/IHxC/addQuotaResponse" message="tns:addQuotaResponse"></output>
</operation>
<operation name="changeQuota">
<input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://hxc.concurrent.com/IHxC/changeQuotaRequest" message="tns:changeQuota"></input>
<output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://hxc.concurrent.com/IHxC/changeQuotaResponse" message="tns:changeQuotaResponse"></output>
</operation>
<operation name="removeQuota">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://hxc.concurrent.com/IHxC/removeQuotaRequest" message="tns:removeQuota"></input>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://hxc.concurrent.com/IHxC/removeQuotaResponse" message="tns:removeQuotaResponse"></output>
</operation>
<operation name="processLifecycleEvent">
<input xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://hxc.concurrent.com/IHxC/processLifecycleEventRequest" message="tns:processLifecycleEvent"></input>
<output xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://hxc.concurrent.com/IHxC/processLifecycleEventResponse" message="tns:processLifecycleEventResponse"></output>
</operation>
<operation name="sendSMS">
<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://hxc.concurrent.com/IHxC/sendSMSRequest" message="tns:sendSMS"></input>
<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://hxc.concurrent.com/IHxC/sendSMSResponse" message="tns:sendSMSResponse"></output>
</operation>
<operation name="getHistory">
<input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://hxc.concurrent.com/IHxC/getHistoryRequest" message="tns:getHistory"></input>
<output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://hxc.concurrent.com/IHxC/getHistoryResponse" message="tns:getHistoryResponse"></output>
</operation>
<operation name="ping">
<input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://hxc.concurrent.com/IHxC/pingRequest" message="tns:ping"></input>
<output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://hxc.concurrent.com/IHxC/pingResponse" message="tns:pingResponse"></output>
</operation>
<operation name="subscribe">
<input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://hxc.concurrent.com/IHxC/subscribeRequest" message="tns:subscribe"></input>
<output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://hxc.concurrent.com/IHxC/subscribeResponse" message="tns:subscribeResponse"></output>
</operation>
<operation name="unsubscribe">
<input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://hxc.concurrent.com/IHxC/unsubscribeRequest" message="tns:unsubscribe"></input>
<output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://hxc.concurrent.com/IHxC/unsubscribeResponse" message="tns:unsubscribeResponse"></output>
</operation>
<operation name="extend">
<input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://hxc.concurrent.com/IHxC/extendRequest" message="tns:extend"></input>
<output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://hxc.concurrent.com/IHxC/extendResponse" message="tns:extendResponse"></output>
</operation>
<operation name="unsuspend">
<input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://hxc.concurrent.com/IHxC/unsuspendRequest" message="tns:unsuspend"></input>
<output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://hxc.concurrent.com/IHxC/unsuspendResponse" message="tns:unsuspendResponse"></output>
</operation>
<operation name="migrate">
<input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://hxc.concurrent.com/IHxC/migrateRequest" message="tns:migrate"></input>
<output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://hxc.concurrent.com/IHxC/migrateResponse" message="tns:migrateResponse"></output>
</operation>
<operation name="getOwners">
<input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://hxc.concurrent.com/IHxC/getOwnersRequest" message="tns:getOwners"></input>
<output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://hxc.concurrent.com/IHxC/getOwnersResponse" message="tns:getOwnersResponse"></output>
</operation>
<operation name="addMember">
<input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://hxc.concurrent.com/IHxC/addMemberRequest" message="tns:addMember"></input>
<output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://hxc.concurrent.com/IHxC/addMemberResponse" message="tns:addMemberResponse"></output>
</operation>
<operation name="replaceMember">
<input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://hxc.concurrent.com/IHxC/replaceMemberRequest" message="tns:replaceMember"></input>
<output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://hxc.concurrent.com/IHxC/replaceMemberResponse" message="tns:replaceMemberResponse"></output>
</operation>
<operation name="removeMember">
<input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://hxc.concurrent.com/IHxC/removeMemberRequest" message="tns:removeMember"></input>
<output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://hxc.concurrent.com/IHxC/removeMemberResponse" message="tns:removeMemberResponse"></output>
</operation>
</portType>
</definitions>