company-repo/crediverse/ecds-ts/c4u-build/prod/tools/performance/C4uBurnTester/src/META-INF/wsdl/localhost_10012/Air.wsdl_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:tns="http://protocol.airsim.services.hxc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://protocol.airsim.services.hxc/">
<types>
<xsd:schema>
<xsd:import namespace="http://protocol.airsim.services.hxc/" schemaLocation="http://localhost:10012/Air?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"></part>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"></part>
</message>
<message name="stop">
<part name="parameters" element="tns:stop"></part>
</message>
<message name="stopResponse">
<part name="parameters" element="tns:stopResponse"></part>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="getLastCdr">
<part name="parameters" element="tns:getLastCdr"></part>
</message>
<message name="getLastCdrResponse">
<part name="parameters" element="tns:getLastCdrResponse"></part>
</message>
<message name="addSubscriber">
<part name="parameters" element="tns:addSubscriber"></part>
</message>
<message name="addSubscriberResponse">
<part name="parameters" element="tns:addSubscriberResponse"></part>
</message>
<message name="getSmsHistory">
<part name="parameters" element="tns:getSmsHistory"></part>
</message>
<message name="getSmsHistoryResponse">
<part name="parameters" element="tns:getSmsHistoryResponse"></part>
</message>
<message name="getOffer">
<part name="parameters" element="tns:getOffer"></part>
</message>
<message name="getOfferResponse">
<part name="parameters" element="tns:getOfferResponse"></part>
</message>
<message name="hasOffer">
<part name="parameters" element="tns:hasOffer"></part>
</message>
<message name="hasOfferResponse">
<part name="parameters" element="tns:hasOfferResponse"></part>
</message>
<message name="getDedicatedAccount">
<part name="parameters" element="tns:getDedicatedAccount"></part>
</message>
<message name="getDedicatedAccountResponse">
<part name="parameters" element="tns:getDedicatedAccountResponse"></part>
</message>
<message name="addSubscriber2">
<part name="parameters" element="tns:addSubscriber2"></part>
</message>
<message name="addSubscriber2Response">
<part name="parameters" element="tns:addSubscriber2Response"></part>
</message>
<message name="updateSubscriber">
<part name="parameters" element="tns:updateSubscriber"></part>
</message>
<message name="updateSubscriberResponse">
<part name="parameters" element="tns:updateSubscriberResponse"></part>
</message>
<message name="getDedicatedAccounts">
<part name="parameters" element="tns:getDedicatedAccounts"></part>
</message>
<message name="getDedicatedAccountsResponse">
<part name="parameters" element="tns:getDedicatedAccountsResponse"></part>
</message>
<message name="hasDedicatedAccount">
<part name="parameters" element="tns:hasDedicatedAccount"></part>
</message>
<message name="hasDedicatedAccountResponse">
<part name="parameters" element="tns:hasDedicatedAccountResponse"></part>
</message>
<message name="updateDedicatedAccount">
<part name="parameters" element="tns:updateDedicatedAccount"></part>
</message>
<message name="updateDedicatedAccountResponse">
<part name="parameters" element="tns:updateDedicatedAccountResponse"></part>
</message>
<message name="getCallHistory">
<part name="parameters" element="tns:getCallHistory"></part>
</message>
<message name="getCallHistoryResponse">
<part name="parameters" element="tns:getCallHistoryResponse"></part>
</message>
<message name="clearCallHistory">
<part name="parameters" element="tns:clearCallHistory"></part>
</message>
<message name="clearCallHistoryResponse">
<part name="parameters" element="tns:clearCallHistoryResponse"></part>
</message>
<message name="garbageCollect">
<part name="parameters" element="tns:garbageCollect"></part>
</message>
<message name="garbageCollectResponse">
<part name="parameters" element="tns:garbageCollectResponse"></part>
</message>
<message name="clearSmsHistory">
<part name="parameters" element="tns:clearSmsHistory"></part>
</message>
<message name="clearSmsHistoryResponse">
<part name="parameters" element="tns:clearSmsHistoryResponse"></part>
</message>
<message name="restore">
<part name="parameters" element="tns:restore"></part>
</message>
<message name="restoreResponse">
<part name="parameters" element="tns:restoreResponse"></part>
</message>
<message name="injectMOSms">
<part name="parameters" element="tns:injectMOSms"></part>
</message>
<message name="injectMOSmsResponse">
<part name="parameters" element="tns:injectMOSmsResponse"></part>
</message>
<message name="injectResponse">
<part name="parameters" element="tns:injectResponse"></part>
</message>
<message name="injectResponseResponse">
<part name="parameters" element="tns:injectResponseResponse"></part>
</message>
<message name="adjustBalance">
<part name="parameters" element="tns:adjustBalance"></part>
</message>
<message name="adjustBalanceResponse">
<part name="parameters" element="tns:adjustBalanceResponse"></part>
</message>
<message name="getSubscriber">
<part name="parameters" element="tns:getSubscriber"></part>
</message>
<message name="getSubscriberResponse">
<part name="parameters" element="tns:getSubscriberResponse"></part>
</message>
<message name="getOffers">
<part name="parameters" element="tns:getOffers"></part>
</message>
<message name="getOffersResponse">
<part name="parameters" element="tns:getOffersResponse"></part>
</message>
<message name="updateOffer">
<part name="parameters" element="tns:updateOffer"></part>
</message>
<message name="updateOfferResponse">
<part name="parameters" element="tns:updateOfferResponse"></part>
</message>
<portType name="IAirSim">
<operation name="start">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://protocol.airsim.services.hxc/IAirSim/startRequest" message="tns:start"></input>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://protocol.airsim.services.hxc/IAirSim/startResponse" message="tns:startResponse"></output>
</operation>
<operation name="stop">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://protocol.airsim.services.hxc/IAirSim/stopRequest" message="tns:stop"></input>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://protocol.airsim.services.hxc/IAirSim/stopResponse" message="tns:stopResponse"></output>
</operation>
<operation name="ping">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://protocol.airsim.services.hxc/IAirSim/pingRequest" message="tns:ping"></input>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://protocol.airsim.services.hxc/IAirSim/pingResponse" message="tns:pingResponse"></output>
</operation>
<operation name="getLastCdr">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://protocol.airsim.services.hxc/IAirSim/getLastCdrRequest" message="tns:getLastCdr"></input>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://protocol.airsim.services.hxc/IAirSim/getLastCdrResponse" message="tns:getLastCdrResponse"></output>
</operation>
<operation name="addSubscriber">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://protocol.airsim.services.hxc/IAirSim/addSubscriberRequest" message="tns:addSubscriber"></input>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://protocol.airsim.services.hxc/IAirSim/addSubscriberResponse" message="tns:addSubscriberResponse"></output>
</operation>
<operation name="getSmsHistory">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://protocol.airsim.services.hxc/IAirSim/getSmsHistoryRequest" message="tns:getSmsHistory"></input>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://protocol.airsim.services.hxc/IAirSim/getSmsHistoryResponse" message="tns:getSmsHistoryResponse"></output>
</operation>
<operation name="getOffer">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://protocol.airsim.services.hxc/IAirSim/getOfferRequest" message="tns:getOffer"></input>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://protocol.airsim.services.hxc/IAirSim/getOfferResponse" message="tns:getOfferResponse"></output>
</operation>
<operation name="hasOffer">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://protocol.airsim.services.hxc/IAirSim/hasOfferRequest" message="tns:hasOffer"></input>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://protocol.airsim.services.hxc/IAirSim/hasOfferResponse" message="tns:hasOfferResponse"></output>
</operation>
<operation name="getDedicatedAccount">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://protocol.airsim.services.hxc/IAirSim/getDedicatedAccountRequest" message="tns:getDedicatedAccount"></input>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://protocol.airsim.services.hxc/IAirSim/getDedicatedAccountResponse" message="tns:getDedicatedAccountResponse"></output>
</operation>
<operation name="addSubscriber2">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://protocol.airsim.services.hxc/IAirSim/addSubscriber2Request" message="tns:addSubscriber2"></input>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://protocol.airsim.services.hxc/IAirSim/addSubscriber2Response" message="tns:addSubscriber2Response"></output>
</operation>
<operation name="updateSubscriber">
<input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://protocol.airsim.services.hxc/IAirSim/updateSubscriberRequest" message="tns:updateSubscriber"></input>
<output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://protocol.airsim.services.hxc/IAirSim/updateSubscriberResponse" message="tns:updateSubscriberResponse"></output>
</operation>
<operation name="getDedicatedAccounts">
<input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://protocol.airsim.services.hxc/IAirSim/getDedicatedAccountsRequest" message="tns:getDedicatedAccounts"></input>
<output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://protocol.airsim.services.hxc/IAirSim/getDedicatedAccountsResponse" message="tns:getDedicatedAccountsResponse"></output>
</operation>
<operation name="hasDedicatedAccount">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://protocol.airsim.services.hxc/IAirSim/hasDedicatedAccountRequest" message="tns:hasDedicatedAccount"></input>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://protocol.airsim.services.hxc/IAirSim/hasDedicatedAccountResponse" message="tns:hasDedicatedAccountResponse"></output>
</operation>
<operation name="updateDedicatedAccount">
<input xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://protocol.airsim.services.hxc/IAirSim/updateDedicatedAccountRequest" message="tns:updateDedicatedAccount"></input>
<output xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://protocol.airsim.services.hxc/IAirSim/updateDedicatedAccountResponse" message="tns:updateDedicatedAccountResponse"></output>
</operation>
<operation name="getCallHistory">
<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://protocol.airsim.services.hxc/IAirSim/getCallHistoryRequest" message="tns:getCallHistory"></input>
<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://protocol.airsim.services.hxc/IAirSim/getCallHistoryResponse" message="tns:getCallHistoryResponse"></output>
</operation>
<operation name="clearCallHistory">
<input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://protocol.airsim.services.hxc/IAirSim/clearCallHistoryRequest" message="tns:clearCallHistory"></input>
<output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://protocol.airsim.services.hxc/IAirSim/clearCallHistoryResponse" message="tns:clearCallHistoryResponse"></output>
</operation>
<operation name="garbageCollect">
<input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://protocol.airsim.services.hxc/IAirSim/garbageCollectRequest" message="tns:garbageCollect"></input>
<output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://protocol.airsim.services.hxc/IAirSim/garbageCollectResponse" message="tns:garbageCollectResponse"></output>
</operation>
<operation name="clearSmsHistory">
<input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://protocol.airsim.services.hxc/IAirSim/clearSmsHistoryRequest" message="tns:clearSmsHistory"></input>
<output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://protocol.airsim.services.hxc/IAirSim/clearSmsHistoryResponse" message="tns:clearSmsHistoryResponse"></output>
</operation>
<operation name="restore">
<input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://protocol.airsim.services.hxc/IAirSim/restoreRequest" message="tns:restore"></input>
<output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://protocol.airsim.services.hxc/IAirSim/restoreResponse" message="tns:restoreResponse"></output>
</operation>
<operation name="injectMOSms">
<input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://protocol.airsim.services.hxc/IAirSim/injectMOSmsRequest" message="tns:injectMOSms"></input>
<output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://protocol.airsim.services.hxc/IAirSim/injectMOSmsResponse" message="tns:injectMOSmsResponse"></output>
</operation>
<operation name="injectResponse">
<input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://protocol.airsim.services.hxc/IAirSim/injectResponseRequest" message="tns:injectResponse"></input>
<output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://protocol.airsim.services.hxc/IAirSim/injectResponseResponse" message="tns:injectResponseResponse"></output>
</operation>
<operation name="adjustBalance">
<input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://protocol.airsim.services.hxc/IAirSim/adjustBalanceRequest" message="tns:adjustBalance"></input>
<output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://protocol.airsim.services.hxc/IAirSim/adjustBalanceResponse" message="tns:adjustBalanceResponse"></output>
</operation>
<operation name="getSubscriber">
<input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://protocol.airsim.services.hxc/IAirSim/getSubscriberRequest" message="tns:getSubscriber"></input>
<output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://protocol.airsim.services.hxc/IAirSim/getSubscriberResponse" message="tns:getSubscriberResponse"></output>
</operation>
<operation name="getOffers">
<input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://protocol.airsim.services.hxc/IAirSim/getOffersRequest" message="tns:getOffers"></input>
<output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://protocol.airsim.services.hxc/IAirSim/getOffersResponse" message="tns:getOffersResponse"></output>
</operation>
<operation name="updateOffer">
<input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://protocol.airsim.services.hxc/IAirSim/updateOfferRequest" message="tns:updateOffer"></input>
<output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://protocol.airsim.services.hxc/IAirSim/updateOfferResponse" message="tns:updateOfferResponse"></output>
</operation>
</portType>
</definitions>