company-repo/crediverse/ecds-ts/c4u-build/prod/tools/performance/C4uBurnTester/src/META-INF/wsdl/localhost_14100/HxC.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.connectors.hxc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.connectors.hxc/" name="HxCService">
<import namespace="http://hxc.concurrent.com/" location="http://localhost:14100/HxC?wsdl=1"></import>
<binding xmlns:ns1="http://hxc.concurrent.com/" name="HxCPortBinding" type="ns1:IHxC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="suspend">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getMembers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="transfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="process">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="subscribe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="unsubscribe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="extend">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="unsuspend">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="migrate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getOwners">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="replaceMember">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="removeMember">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="removeMembers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getBalances">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getQuotas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="addQuota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="changeQuota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="removeQuota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="processLifecycleEvent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="sendSMS">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="resetPIN">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="changePIN">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
<operation name="getServices">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://hxc.concurrent.com/"></soap:body>
</output>
</operation>
</binding>
<service name="HxCService">
<port name="HxCPort" binding="tns:HxCPortBinding">
<soap:address location="http://localhost:14100/HxC"></soap:address>
</port>
</service>
</definitions>